
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}


#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


.active-style-1 {
    background-color: #068f8f; 
    color: white;
}

.active-style-2 {
    background-color: #f5f506; 
    color: black;
    display: inline-block; 
}